<ng-container *ngIf="!isLoginPage()">
  <div class="top-bar">
    <div class="left-section">
      <span *ngIf="isLoggedIn()">Benvenuto, Admin</span>
    </div>
    <div class="right-section">
      <ng-container *ngIf="isLoggedIn(); else loginLink">
        <button (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loginLink>
        <a routerLink="/login">Login</a>
      </ng-template>
    </div>
  </div>
</ng-container>

<div class="page-content">
  <router-outlet></router-outlet>
</div>