/* Stile base per il body */
body {
  background-color: #f5f7fa;
  /* Rimuove margini predefiniti del browser */
  margin: 0;
  /* Rimuove padding di default */
  padding: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
}